@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

body {
    margin: 0;
    background: #000;
    overflow: hidden;
}

.intro {
    position: absolute;
    top: 40%;
    left: 20%;
    z-index: 1;
    opacity: 0;    
}

.text-intro {
    font-family: "News Cycle", sans-serif;
    color: #00BFFF;
    font-weight: 400;
    letter-spacing: .1em;
}

.story {
    position: absolute;
    top: 98%;
}

.text-story {
    font-family: "News Cycle", sans-serif;
    font-weight: 700;
    color: #FFD700;
    text-align: justify;
    letter-spacing: .1em;
    line-height: 1.1em;
}

.paragraphs {
    position: absolute;
    left: 15%;
    width: 70%;
    z-index: 1;
    transform-origin: 50%;
    transform: perspective(300px) rotateX(20deg);
}

.hidden {
  display: none;
}

.anime-intro {
  animation: intro 2s ease-out 0s;
}
.anime-story {
  animation: paragraphs 50s linear 2s;
}

.anime-earth-show {
  animation: earth-show 1s ease-in-out 54s forwards;
}

.anime-earth-expand {
  animation: earth-expand 5s linear 55s forwards;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes paragraphs {
  0% {
    top: 75%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: -700%;
    opacity: 0;
  }
}

@keyframes earth-show {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block
  }
}

@keyframes earth-expand {
  0% {
    width: 75rem;
    height: 75rem;
  }
  95% {
    width: 200%;
    height: 350%;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }

}

/*Stars screen*/
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#earth {
  opacity: 0;
}

#mapPosition {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
}
